@charset "utf-8";
body{
   background-color: #ff6600e0;
   background: url(../_imagens/fundo.png) no-repeat;
   background-position: center;
   background-size: 100% ;
   
}
.title{
   text-align: center;
   height: 10px;
   color:white;
   text-shadow: 1px 1px 3px black;
   font-size: 50px;

}

ul#album-servicos{

    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
    
}
ul#album-servicos li{

    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 3px solid white;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
ul#album-servicos li span{
    opacity: 0;
    color:white;
    text-shadow: 0px 0px 3px white;
    background-color: #ff660075;
    line-height: 370px;
    padding: 5px;
    font-size: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul#album-servicos li:hover span{
    opacity: 1;
}
ul#album-servicos li:hover {
    -webkit-transform: scale(1.5);
}
ul#album-servicos li#foto1{
    background: url('../_imagens/limpezabanco.png' ) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color:white;
}
ul#album-servicos li#foto1:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-servicos li#foto2{
    background: url('../_imagens/hdratação.png' ) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color:white;
}
ul#album-servicos li#foto2:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-servicos li#foto3{
    background: url('../_imagens/linpezainterna.png' ) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color:white;
}
ul#album-servicos li#foto3:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-servicos li#foto4{
    background: url('../_imagens/impermeabilizacao.png' ) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color:white;
}
ul#album-servicos li#foto4:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-servicos li#foto5{
    background: url('../_imagens/lavamotor.png' ) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color:white;
}
ul#album-servicos li#foto5:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-servicos li#foto6{
    background: url('../_imagens/polimento.png' ) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color:white;
}
ul#album-servicos li#foto6:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-servicos li#foto7{
    background: url('../_imagens/farol.png' ) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color:white;
}
ul#album-servicos li#foto7:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-servicos li#foto8{
    background: url('../_imagens/chuvaacida.png' ) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color:white;
}
ul#album-servicos li#foto8:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-servicos li#foto9{
    background: url('../_imagens/plasticos.png' ) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color:white;
}
ul#album-servicos li#foto9:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
footer li{
    position: relative;
    text-align: center;
    
}
footer p{
    text-align: center;
    color: white;
    font-size:15px;
}