@charset "UTF-8";

div img{
    opacity: 0.8;
    height: 200px;
    width: 100%;
    position:relative;
      
}

body{
   background-color: #ff6600e0;
   background: url(../_imagens/fundo.png) no-repeat;
   background-position: center;
   background-attachment:scroll;
   background-size: 80%;   
}
footer li{    
    text-align: center;
   
}
footer p{
    text-align: center;
    color: white;
}